body {
  font-family: Poppins,; 
  background-color: #b9f2fc; 
  margin: 0; 
  padding: 20px; 
}

.logo {
  width: 100px; 
  height: auto; 
}

.flags {
  width: 20px; 
  height: auto; 
}


/* Iframe */
#AgenceMaps {
  width: 100%; 
  height: 500px; 
  border: none; 
  margin-top: 20px; 
}



/* Footer */

/* Style général pour les icônes sociales */
.social-icon {
    width: 40px; 
    height: 40px; 
    margin: 0 10px; 
    border-radius: 50%; 
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Effet au survol des icônes */
.social-icon:hover {
    transform: scale(1.1); /* Agrandir l'icône au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
}

